.banner {
  background-image: url(./assets/Path\ 11.png);
  min-height: 150vh;
  /* height: %; */
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
html,
body {
  overflow-x: hidden;
}
.banner-right-image {
  position: absolute;
  right: -100px;
  top: 70px;
  max-width: 800px;
}
.about-card,
.bg-gradient {
  background: rgb(218, 253, 235);
  background: linear-gradient(
    155deg,
    rgba(218, 253, 235, 1) 0%,
    rgba(247, 243, 234, 1) 50%,
    rgba(244, 240, 222, 1) 100%
  );
}

.how-to-buy {
  background-image: url(./assets/how-to-buy-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.slippage {
  background-image: url(./assets/slippage-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

.slippage-card1,
.slippage-card2 {
  background-image: url(./assets/slippage1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.slippage-card2 {
  background-image: url(./assets/slippage2.png);
}

@media (max-width: 1380px) {
  .banner-right-image {
    right: -300px;
  }
}
@media (max-width: 1106px) {
  .banner-right-image {
    right: -400px;
  }
}

@media (max-width: 992px) {
  .banner-right-image {
    right: -10px;
  }
}
@media (max-width: 768px) {
  .logo {
    width: 80px;
  }
  .banner-right-image {
    /* right: -200px; */
    width: 600px;
  }
}
@media (max-width: 600px) {
  .banner-right-image {
    /* right: -250px; */
    width: 450px;
  }
}
@media (max-width: 450px) {
  .banner-right-image {
    /* right: -120px; */
    top: 60px;
    width: 400px;
  }
}
@media (max-width: 400px) {
  .banner-right-image {
    /* right: -120px; */
    top: 90px;
    width: 350px;
  }
}
@media (max-width: 640px) {
  .text-xxs {
    font-size: 10px;
  }
}
@media (max-width: 380px) {
  .banner {
    min-height: 80vh;
  }
  .text-xxs {
    font-size: 9px;
  }
}

.mobile-nav {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 95%;

  transform: translateX(-50%);
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  z-index: 100;
}

.active {
  max-height: 1000px;
}
