
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family:'Nura','sans-serif';
      src: url(./assets/fonts/Nura-Bold.woff) format("woff");
    }
    @font-face {
      font-family:'Nura','sans-serif';
      src: url(./assets/fonts/Nura-Light.woff) format("woff");
    }
    @font-face {
      font-family:'Nura','sans-serif';
      src: url(./assets/fonts/Nura-Medium.woff) format("woff");
    }
    @font-face {
      font-family: 'Gelion Bold';
      font-style: normal;
      font-weight: normal;
      src: url(./assets/fonts/Gelion-Bold.woff) format("woff");
    }
    @font-face {
      font-family: 'Gelion Light';
      font-style: normal;
      font-weight: normal;
      src: url(./assets/fonts/Gelion-Light.woff) format("woff");
    }
    @font-face {
      font-family: 'Gelion Medium';
      font-style: normal;
      font-weight: normal;
      src: url(./assets/fonts/Gelion-Medium.woff) format("woff");
    }
    @font-face {
      font-family:'Gelion Regular';
      font-style: normal;
      font-weight: normal;
      src: url(./assets/fonts/Gelion-Regular.woff) format("woff");
    }
    @font-face {
      font-family: 'Gelion Semi Bold';
    font-style: normal;
    font-weight: normal;
      src: url(./assets/fonts/Gelion-SemiBold.woff) format("woff");
    }

  }